.news {
	width: 70vw;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 100px auto;

	h1 {
		width: 100%;
		font-size: 2rem;
		margin-bottom: 40px;
		text-align: center;
	}

	article {
		width: 22%;
		height: 200px;
		border: 1px solid #555;
		padding: 30px;

		h2 {
			font-size: 1.5rem;
			opacity: 0.7;
		}
	}
}
