.visual {
	width: 70vw;
	height: 60vh;
	margin: 50px auto;
	background-color: #333;
	font-size: 5rem;
	display: flex;
	justify-content: center;
	align-items: center;

	h2 {
		font-size: 5rem;
		color: #fff;
	}
}
